body {
    background-color: #87CEFA; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
  }
  
  input[type="submit"] {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #87CEFA; 
    background-color: #FFFFFF; 
    border: 2px solid #000000; 
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #87CEFA;
    color: #FFFFFF; 
  }
  
  #registroComentario,
  #bienvenidaComentario {
    margin-top: 20px;
  }
  